.DS_Store
/.build
/Packages
/*.xcodeproj
/*.xcworkspace
*.xcuserstate
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/xcshareddata/xcschemes/*.xcscheme
.netrc
